span.edit {
  position: absolute;
  top: 10px;
  right: 50px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  background: transparent;
  transition: transform 0.2s;
  z-index: 10;
}
span.edit:hover {
  transform: scale(1.2);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  align-items: center;
  margin-right: 100px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffccf2;
  color:#977dff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin-left: 100px;
}

nav {
    display: flex;
    justify-content: end;
    margin-right: 120px;
    gap: 20px;
}

a {
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 1px 1px 10px #977dff;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #977dff;
}

a:hover {
    transition: 0.5s;
    background-color: #977dff;
    color: white;
}

#card__tarefa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 20px;
  margin-bottom: 50px;
  color: #977dff;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  
}

input {
  width: 550px;
  /* margin: 0; */
  padding: 14px 8px 14px 40px;
  border: none;
  border-radius: 10px;
  background-color: #977dff94;
  color: #7401df;
  box-shadow: 1px 1px 5px #977dff;
  opacity: 60%;
  margin-left: 70px;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: 1px 1px 5px #977dff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.imgcat {
  border: 1px solid #977dff;
  border-bottom: 0;
  transition: 3s;
}

.imgcat:hover {
  scale: 3;
  z-index: 10;
  transition: 3s;
}

::placeholder {
  color: black;
}

.card__tarefa_btn_add {
  width: 145px;
  padding: 12px;
  background-color: #ffccf2;
  font-size: 16px;
  font-weight: bold;
  color: #977dff;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  opacity: 70%;
  box-shadow: 1px 1px 5px #977dff;
  margin-left: 70px;
}

#card__tarefa_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.card__tarefa_btn_add:hover {
  background-color: #977dff;
  color: #fff;
}

#ul__tarefa {
  width: 700px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  cursor: pointer;
  /* position: relative; */
  width: 700px;
  height: 300px;
  margin-bottom: 10px;
  list-style-type: none;
  align-content: center;
  font-size: 16px;
  transition: 0.2s;
  box-shadow: 1px 1px 10px #977dff;
  color: #977dff;
  border-radius: 20px;
  padding: 10px
}

.dados-tarefa {
  margin-left: 50px;
  margin: 10px;
}

ul li:hover {
  background-color: #977dff;
  color: #fff;
}

ul li.checked {
  background-color: #495661;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  margin-top: 35%;
  margin-right: 10%;
  text-align: center;
  right: 0;
  top: 0;
  border-radius: 50%;
  scale: 2;
  transition: 2s;
}

.close:hover {
  scale: 10;
  transition: 2s;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.edit {
  position: absolute;
  margin-right: 0%;
  right: 0;
  top: 0;
  border-radius: 50%;
  scale: 2;
  transition: 2s; 
}

.edit:hover {
  scale: 10;
  transition: 2s;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
